.App {
  padding-top: 10px;
  height: 100vh;
  width: 100vw;
  background-color: bisque;
  display: flex;
  justify-content: center;
}

.ComponentWrapper {
  background-color: rgb(238, 188, 113);
  width: 90vw;
}

.NestedComponentContainer {
  background-color: rgb(238, 188, 113);
}
